@use '../../../styles/globals.scss';

.footer-wrapper {
  background-color: globals.$primary-color;
  color: white;
  padding: 20px 0;
  text-align: center;
  
  .footer-info {

  }

  .footer-socials {

  }

  .footer-nav {
    
  }
}