@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Color pallete
$primary-color: #e23e57;
$secondary-color: #000000;
$tertiary-color: #ffffff;

* {
  font-family: 'Roboto Condensed', sans-serif; // Font
}

.error-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  margin: auto;

  .error-wrapper {
    text-align: center;
  }
}