.app-wrapper {
  margin: auto;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 40px;
  width: 100%;
  height: 100vh;

  .app-window {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}