@use '../../../styles/globals.scss';

.main-wrapper{
    color: white;
    background: globals.$background-gradient;
    button {
        margin: 0 10px 0 10px;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1.1rem;
        outline: none;
        transition: color 0.3s ease;
        cursor: pointer;

        @media only screen and (max-width: 768px) {
            font-size: 1rem;
          }
    }
    button:after {
        content: '';
        display: block;
        position: relative;
        top: 3px;
        width: 0;
        height: 2px;
        background-color: globals.$accent-color;
        transition: width .3s;
      }

      button:hover:after {
        width: 100%;
        transition: width .3s;
      }

      button:hover {
        color: globals.$accent-color;
        transition: color 0.3s ease;
      }

    .profile-nav{
        display: grid;
        justify-content:center;
        align-items: center;
        background-color: globals.$secondary-color;
        width: 100%;
        height: 50px;
        color: white;
        position: sticky;
        top: 50px;
        z-index: 1000;
    }
    .sidebar-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: calc(100vh - 120px);
        color: white;
        position: sticky;
        top: 100px;
        z-index: 1;
        padding: 10px;
        text-align: center;
        background-color: globals.$primary-color;
        font-size: 0.9rem;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        @media only screen and (min-width: 769px) {
            transform: translateX(0%);
        }
        
        @media only screen and (max-width: 768px) {
            transform: translateX(-100%);
            transition: transform 0.3s ease-in-out;
            position: fixed;
            width: 100%;
            z-index: 1000;
            height: 100%;
            top:0px;
            bottom: 0px;
            top: 50px;
            padding: 0px;
            height: calc(100vh - 50px);
        }

        .profile-info{
            text-align: center;
            font-size: 1.5rem;
        }

        .profile-photo-wrapper{
            text-align: center;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            .profile-photo{
                width:250px; 
                height:250px;
                border: 0.5rem solid globals.$secondary-color;
                border-radius: 50%;
                @media only screen and (min-width: 769px) {
                    width:190px; 
                    height:190px;
                }
                @media only screen and (min-width: 1050px) {
                    width:250px; 
                    height:250px;
                }
            }
        }

        .profile-nickname{
            text-align: center;
            font-size: 1.4rem;
            padding-bottom: 0.1rem;
        }

        .profile-email{
            text-align: center;
        }

        .profile-information{
            padding-top: 0.7rem;
            padding-left: 0.4rem;
            padding-right: 0.4rem;
            @media only screen and (max-width: 768px) {
                padding-left: 0.7rem;
                padding-right: 0.7rem;
            }
        }
    }

  
    .mainside {
        display: flex;
        &.sidebar-open {
            .sidebar-wrapper {
              transform: translateX(0%);
            }
          }
        .toggle-button {
            display: none; // Initially hide the button on larger screens
            @media only screen and (max-width: 768px) {
              display: block;
              position: fixed;
              top: 10px;
              left: 10px;
              z-index: 1001;
            }
        }
    }

    .profile-content{
        height: 100%;
        flex: 3;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: justify;

        .profile-statistics{
            height: 270px;
            text-align: center;
            margin-top: 0.2rem;
            margin-bottom: 0.5rem;
            .statistics-title{
                font-size: 1.5rem;
            }
            .statistics-charts{
                display: flex;
                margin-top: 0.7rem;
                margin-bottom: 0.5rem;
                justify-content: space-around;
                @media only screen and (max-width: 885px) {
                    display:block;
                }
            }
            .statistics-name{
                display: flex;
                justify-content: space-around;
                font-size: 1rem;
                @media only screen and (max-width: 768px) {
                    display:block;
                }
            }
            
        @media only screen and (max-width: 768px) {
            display: flex;
            flex: none;
            flex-direction: column;
            align-items: center;
            height: auto;

        }
        }

        .profile-review-content{

            .review-title{
                text-align: center;
                font-size: 1.5rem;
                margin-bottom: 0.7rem;
            }

            .review-loop{
                background-color: rgba(0, 94, 16, 0.5);
                box-shadow: 0 0 1rem globals.$secondary-color;
                overflow-wrap: break-word;
            }
        }
    }
}
