@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Color pallete
$primary-color: #005e10;
$secondary-color: #000000;
$tertiary-color: #ffffff;
$button-color: #007a15;

* {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $secondary-color;
  font-family: 'Roboto Condensed', sans-serif;
}