@use '../../../../styles/globals.scss';

.movie-site-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  color: white;

  .movie-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: globals.$secondary-color;
    position: sticky;
    top: 50px;
    z-index: 1000;

    a {
      text-decoration: none;
      color: white;
      margin: 0 10px 0 10px;
    }

    a:after {
      content: '';
      display: block;
      position: relative;
      top: 3px;
      width: 0;
      height: 2px;
      background-color: globals.$accent-color;
      transition: width .3s;
    }

    a:hover:after {
      width: 100%;
      transition: width .3s;
    }

    a:hover {
      color: globals.$accent-color;
      transition: color 0.3s ease;
    }
  }

  .movie-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    .movie-main-info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 400px;
      scroll-margin-top: 100px;

      .movie-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 100%;
      }

      .movie-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100%;

        .movie-title-text {
          font-size: 2rem;
          font-weight: bold;
          margin-bottom: 20px;
        }

        .movie-description-text {
          font-size: 1.2rem;
        }
      }
    }

    .movie-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 400px;
      scroll-margin-top: 100px;

      .movie-info-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: globals.$primary-color;
      }

      .movie-info-main {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 360px;
      }
    }

    .movie-cast {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 400px;
      scroll-margin-top: 100px;

      .movie-cast-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: globals.$primary-color;
      }

      .movie-cast-description {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 360px;
      }
    }

    .movie-reviews {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      scroll-margin-top: 100px;

      .movie-reviews-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: globals.$primary-color;
      }

      .movie-reviews-description {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
      }
    }
  }
}