@use '../../styles/globals.scss';
main{
    color: white;


    .profile-nav{
        display: grid;
        justify-content:center;
        align-items: center;
        background-color: globals.$secondary-color;
        width: 100%;
        height: 50px;
        color: white;
        position: sticky;
        top: 50px;
        z-index: 1000;
    }
    .sidebar-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: calc(100vh - 120px);
        color: white;
        position: sticky;
        top: 100px;
        z-index: -1;
        padding: 10px;
        text-align: justify;
        background-color: globals.$primary-color;
        font-size: 0.9rem;

        .profile-info{
            text-align: center;
            font-size: 1.5rem;
        }

        .profile-photo-wrapper{
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            .profile-photo{
                border: 0.5rem solid globals.$secondary-color;
                border-radius: 50%;
            }
        }

        .profile-nickname{
            text-align: center;
            font-size: 1.4rem;
            padding-bottom: 0.1rem;
        }

        .profile-email{
            text-align: center;
        }

        .profile-information{
            padding-top: 0.7rem;
            padding-left: 0.4rem;
            padding-right: 0.4rem;
        }
    }

  
    .mainside {
        display: flex;
    }

    .profile-content{
        height: 100%;
        flex: 3;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: justify;
    
        .profile-statistics{
            height: 270px;
            text-align: center;
            margin-top: 0.2rem;
            margin-bottom: 0.5rem;
            .statistics-title{
                font-size: 1.5rem;
            }
            .statistics-charts{
                display: flex;
                margin-top: 0.7rem;
                margin-bottom: 0.5rem;
                justify-content: space-around;
            }
            .statistics-name{
                display: flex;
                justify-content: space-around;
                font-size: 1rem;
            }
        }

        .profile-review-content{

            .review-title{
                text-align: center;
                font-size: 1.5rem;
                margin-bottom: 0.7rem;
            }

            .review-loop{
                background-color: rgba(0, 94, 16, 0.5);
                box-shadow: 0 0 1rem globals.$secondary-color;
                overflow-wrap: break-word;
            }
        }
    }
}
